<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" [routerLink]="['/']"><img height="50px"
      src="https://pearlmorissette.com/images/TheRestaurant.png" alt="" srcset=""></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLinkActive="active" *ngIf="!!loginService.isLogin()" [routerLink]="['/']">Home <span
            class="sr-only">(current)</span></a>
      </li>


      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" *ngIf="!loginService.isLogin()" routerLink="login">Log In</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" *ngIf="!loginService.isLogin()" routerLink="register">Sign Up</a>
      </li> -->

      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" *ngIf="!!loginService.isLogin()" (click)="onLogout()">Logout</a>
      </li>

    </ul>

  </div>
</nav>
