<div class="container" style="padding-top: 30px">
  <h2>Login</h2>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" formControlName="email" id="email" placeholder="Username or Email address"
        class="form-control" [ngClass]="{ 'is-invalid': submitted && form.email.errors }" />
      <div *ngIf="submitted && form.email.errors" class="invalid-feedback">
        <div *ngIf="form.email.errors.required">Email is required</div>
        <div *ngIf="form.email.touched && form.email.invalid"> Please enter valid email. </div>
      </div>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" formControlName="password" id="password" placeholder="Password" class="form-control"
        [ngClass]="{ 'is-invalid': submitted && form.password.errors }" />
      <div *ngIf="submitted && form.password.errors" class="invalid-feedback">
        <div *ngIf="form.password.errors.required">Password is required</div>
      </div>
    </div>
    <div class="form-group">
      <button class="btn btn-primary">Login</button> |
      <a routerLink="/register" class="btn btn-primary">Switch SignUp</a>
    </div>
  </form>
</div>
